
	body{
	
					background-color: #FFF;
					background-image: url(top_bg_header.png);
					background-position: center top;
					background-repeat: no-repeat;
					color: #333;
					font-family:Verdana, Geneva, sans-serif;
					font-size: 100%;
					margin: 0px;
					padding: 0px;
	
	}
	
	a:link{ font-family: Verdana, Geneva, sans-serif; color: #C60; text-decoration:none; font-weight: 400;}
	a:visited{ font-family: Verdana, Geneva, sans-serif; color: #C60; text-decoration:none; font-weight: 400;}
	a:active{ font-family: Verdana, Geneva, sans-serif; color: #666; text-decoration:none; font-weight: 400;}
	a:hover{ font-family: Verdana, Geneva, sans-serif; color: #666; text-decoration:none; font-weight: 400;}
	a:focus{ font-family: Verdana, Geneva, sans-serif; color: #666; text-decoration:none; font-weight: 400;}
	
	div.header_menu{
	
					min-height: 72px;
					max-height: 72px;
					padding: 1px 1px 2px 1px;
					font-size: 80%;
	
	}
	
	div.body_helper{
	
					padding: 10px;
					font-size: 80%;
	
	}
	
	#search_bar_1{
	
					border: 1px solid #999;
					padding: 2px;
					font-family: Verdana, Geneva, sans-serif;
					font-size: 12px;
					color: #060;
					width: 242px;
	
	}
	
	div.search_bar{
					
					position: absolute;
					margin: 40px 0px 0px 4px;
					
	}
	
	div.tool_bar{
					
					position: absolute;
					margin: 9px 8px 0px 8px;
					max-width: 246px;
					min-width: 246px;
					min-height: 25px;
					max-height: 25px;
					
	}
	
	#sx_btn{
	
					position: absolute;
					margin: 0px 0px 0px 0px;
	
	}
	
	#dx_btn{
	
					position: absolute;
					margin: 0px 0px 0px 34px;
	
	}
	
	#home_btn{
	
					position: absolute;
					margin: 0px 0px 0px 188px;
	
	}
	
	#print_btn{
	
					position: absolute;
					margin: 0px 0px 0px 222px;
	
	}